.creation-subtitle {
    text-align: center;
    font-family: Gistesy, sans-serif;
    text-transform: none;
    font-size: 35px;
    margin: 10px 10px;
    padding-top: 20px;
    transition: color 0.3s;
}
.creation-img {
    border: solid 1px #738172;
    border-radius: 3px;
    width: 90%;
    height: 300px;
    margin: 25px auto;
    display: block;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 0 5px rgba(0,0,0,.18);
}
/*.div-creation-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
.div-creation-info-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}
.creation-info-h2 {
    font-size: 16px;

    text-shadow: 0.1em 0.1em 0.2em rgba(73, 81, 72, 0.3);
    margin: 0;
    padding: 0;
}
.div-creation-info-3 {
    display: flex;
    flex-wrap: wrap; 
    width: 90%;
    margin: auto;
}
.creation-info-language {
    font-size: 14px;
    color: white;
    background: #738172;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 1rem 0 0;
    padding: 0.2rem 1.5rem;
    border-radius: 0.5rem; 
}
.creation-info-guide {
    font-size: 14px;
    text-shadow: 0.1em 0.1em 0.2em rgba(73, 81, 72, 0.3);
}

.article-creation-content {
    width: 90%;
    margin: 20px auto;
}
.creation-content-description, .creation-content-evaluation {
    text-align: justify;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: none;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
}
.article-creation-link {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
.div-creation-link {
    margin: 80px 0;
}

@media screen and (min-width: 430px) {
    .creation-info-guide::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin: 6px;
        width: 30px;
        height: 30px;
        background: url(../../assets/img/icon-guide.png) center center / 30px 30px no-repeat;
    }
}
@media screen and (min-width: 515px) {
    .creation-link-site, .creation-link-github {
        color: #738172;
        font-weight: 600;
        font-size: 16px;
        border-radius: 50px;
        padding: 25px 45px;
        background: linear-gradient(170deg, #cecaca66, #cecaca9b);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
        transition: all .2s ease-in-out;
    }
    .creation-link-site:hover, .creation-link-github:hover { 
        transform: scale(1.05);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.6)); 
        opacity: 90%;
    }
}
@media screen and (min-width: 970px) {
    .article-creation-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (min-width: 820px) {
    h2 {
        text-align: left;
        padding-left: 20px;
    }
    .article-creation-content {
        display: flex;
    }
    .div-creation-content-description {
        width: 50%;
        margin-right: 10px;
    }
    .div-creation-content-evaluation {
        width: 50%;
        margin-left: 10px;
    }
}